---
layout: default
title: "Teaching"
nav: "Teaching"
permalink: /teaching/
context_rail: teaching
description: "Teaching assistant experience of Jiayi Shen at the University of Science and Technology of China."
---

<section class="page-section page-section--first">
  {% include section-heading.html level=1 title="Teaching" summary="Teaching assistant experience in stochastic processes." %}

  <div class="teaching-list">
    {% for item in site.data.teaching %}
      {% include teaching-item.html item=item %}
    {% endfor %}
  </div>
</section>
